In [1]:
import urllib.request 
import os
import zipfile
import pandas as pd

In [2]:
## Download and unzip COVID cases
temporary_folder = os.path.join(os.getcwd(), 'tmp')
if not os.path.exists(temporary_folder):
    os.makedirs(temporary_folder)
    
remote_file_name = "https://github.com/CSSEGISandData/COVID-19/archive/master.zip"
base_name = os.path.basename(remote_file_name)
local_file_name = os.path.join(temporary_folder, base_name)

urllib.request.urlretrieve(remote_file_name, local_file_name)

data_folder = os.path.join(os.getcwd(), 'world_data') 
if not os.path.exists(data_folder):
    os.makedirs(data_folder)
    
with zipfile.ZipFile(local_file_name, 'r') as zip_ref:
    zip_ref.extractall(data_folder)
    
#!unzip master.zip

In [3]:
## Download world population
remote_file_name = "http://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=excel"
world_population_file = os.path.join(temporary_folder, "world_population.xls")

# The following statement is throwing an error but the download is being performed
urllib.request.urlretrieve(remote_file_name, world_population_file)

('/Users/wcunha69/Documents/projects/COVID-19/tmp/world_population.xls',
 <http.client.HTTPMessage at 0x11bf1a490>)

In [34]:
## Load world population DataFrame
world_population = pd.read_excel(world_population_file, sheet_name="Data", dtype=object, skiprows=3)
world_population = world_population[["Country Name", "Country Code", "2018"]]
world_population = world_population.rename(
    {"Country Name":"country","Country Code":"country_code", "2018":"population"}, 
    axis='columns') 

world_population['population'] = world_population['population'].fillna(0)
world_population['population'] = world_population['population'].astype('int')
print(world_population)

          country country_code  population
0           Aruba          ABW      105845
1     Afghanistan          AFG    37172386
2          Angola          AGO    30809762
3         Albania          ALB     2866376
4         Andorra          AND       77006
..            ...          ...         ...
259        Kosovo          XKX     1845300
260   Yemen, Rep.          YEM    28498687
261  South Africa          ZAF    57779622
262        Zambia          ZMB    17351822
263      Zimbabwe          ZWE    14439018

[264 rows x 3 columns]

In [12]:
## Load COVID cases 
covid_folder = os.path.join(data_folder, 'COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/')

li = []
for covid_file in os.listdir(covid_folder):
    if covid_file.find(".csv") > -1:
        df = pd.read_csv(os.path.join(covid_folder, covid_file), index_col=None, header=0)
        li.append(df)

covid_cases = pd.concat(li, axis=0, ignore_index=True)
covid_cases = covid_cases.rename(
    {
        "Province/State":"province_state",
        "Country/Region":"country", 
        "Last Update":"last_update",
        "Confirmed":"confirmed",
        "Deaths":"deaths",
        "Recovered":"recovered",
        "Latitude":"latitude",
        "Longitude":"longitude"
    }, axis='columns'
) 


print(covid_cases)
#print(recent)
#covid = pd.read_csv(covid)
#print(covid)

                            province_state         country  \
0                                    Hubei  Mainland China
1                                Guangdong  Mainland China
2                                    Henan  Mainland China
3                                      NaN     South Korea
4                                 Zhejiang  Mainland China
...                                    ...             ...
7009                    Northern Territory       Australia
7010  Lackland, TX (From Diamond Princess)              US
7011                 Montgomery County, TX              US
7012     Omaha, NE (From Diamond Princess)              US
7013    Travis, CA (From Diamond Princess)              US

              last_update  confirmed  deaths  recovered  latitude  longitude
0     2020-02-26T14:13:10    65187.0  2615.0    20969.0       NaN        NaN
1     2020-02-26T10:33:02     1347.0     7.0      851.0       NaN        NaN
2     2020-02-26T10:33:02     1271.0    19.0     1033.0       NaN        NaN
3     2020-02-26T11:03:11     1261.0    12.0       22.0       NaN        NaN
4     2020-02-26T10:33:02     1205.0     1.0      867.0       NaN        NaN
...                   ...        ...     ...        ...       ...        ...
7009  2020-03-06T04:33:03        0.0     0.0        0.0  -12.4634   130.8456
7010  2020-02-24T23:33:02        0.0     0.0        0.0   29.3829   -98.6134
7011  2020-03-07T19:53:02        0.0     0.0        0.0   30.3213   -95.4778
7012  2020-02-24T23:33:02        0.0     0.0        0.0   41.2545   -95.9758
7013  2020-02-24T23:33:02        0.0     0.0        0.0   38.2721  -121.9399

[7014 rows x 8 columns]

In [35]:
## Adjusting country names and merging dataframes
world_population = world_population.replace("Korea, Rep.", "South Korea")
world_population = world_population.replace("Hong Kong SAR, China", "Hong Kong")
world_population = world_population.replace("Iran, Islamic Rep.", "Iran")
world_population = world_population.replace("Russian Federation", "Russia")
world_population = world_population.replace("Macao SAR, China", "Macau")
world_population = world_population.replace("Venezuela, RB", "Venezuela")
world_population = world_population.replace("Bahamas, The", "The Bahamas")
world_population = world_population.replace("Egypt, Arab Rep.", "Egypt")
world_population = world_population.replace("Slovak Republic", "Slovakia")
covid_cases = covid_cases.replace("Mainland China", "China")
covid_cases = covid_cases.replace("US", "United States")
covid_cases = covid_cases.replace("UK", "United Kingdom")
covid_cases = covid_cases.replace("Iran (Islamic Republic of)", "Iran")
covid_cases = covid_cases.replace("Russian Federation", "Russia")
covid_cases = covid_cases.replace("Republic of Korea", "South Korea")
covid_cases = covid_cases.replace("Hong Kong SAR", "Hong Kong")
covid_cases = covid_cases.replace("Viet Nam", "Vietnam")
covid_cases = covid_cases.replace("Macao SAR", "Macau")
covid_cases = covid_cases.replace("Korea, South", "South Korea")
covid_cases = covid_cases.replace("North Ireland", "United Kingdom")
covid_cases = covid_cases.replace("Republic of Ireland", "Ireland")

covid_cases_pop = pd.merge(covid_cases, world_population, how='left', on='country')
print(((covid_cases_pop[covid_cases_pop['population'].isnull()])["country"]).drop_duplicates())

9                                 Others
39                                Taiwan
421                  Taipei and environs
436       occupied Palestinian territory
490                        French Guiana
506                  Republic of Moldova
516                           Martinique
518                         Saint Martin
527                               Brunei
531                             Holy See
541                     Saint Barthelemy
577                          Cruise Ship
616                              Czechia
634                              Taiwan*
747                     Congo (Kinshasa)
757                              Reunion
992                            Palestine
1144                        Vatican City
2347                          Guadeloupe
2414                         Saint Lucia
2423                 Congo (Brazzaville)
2433                             Mayotte
2435    Saint Vincent and the Grenadines
2441                          The Gambia
2446                            Guernsey
2447                              Jersey
2449               Republic of the Congo
2968                         Ivory Coast
4539                        Bahamas, The
4543                          Kyrgyzstan
5068                          Azerbaijan
6657                          St. Martin
Name: country, dtype: object

In [23]:
print(covid_cases_pop)

                            province_state        country  \
0                                    Hubei          China
1                                Guangdong          China
2                                    Henan          China
3                                      NaN    South Korea
4                                 Zhejiang          China
...                                    ...            ...
7009                    Northern Territory      Australia
7010  Lackland, TX (From Diamond Princess)  United States
7011                 Montgomery County, TX  United States
7012     Omaha, NE (From Diamond Princess)  United States
7013    Travis, CA (From Diamond Princess)  United States

              last_update  confirmed  deaths  recovered  latitude  longitude  \
0     2020-02-26T14:13:10    65187.0  2615.0    20969.0       NaN        NaN
1     2020-02-26T10:33:02     1347.0     7.0      851.0       NaN        NaN
2     2020-02-26T10:33:02     1271.0    19.0     1033.0       NaN        NaN
3     2020-02-26T11:03:11     1261.0    12.0       22.0       NaN        NaN
4     2020-02-26T10:33:02     1205.0     1.0      867.0       NaN        NaN
...                   ...        ...     ...        ...       ...        ...
7009  2020-03-06T04:33:03        0.0     0.0        0.0  -12.4634   130.8456
7010  2020-02-24T23:33:02        0.0     0.0        0.0   29.3829   -98.6134
7011  2020-03-07T19:53:02        0.0     0.0        0.0   30.3213   -95.4778
7012  2020-02-24T23:33:02        0.0     0.0        0.0   41.2545   -95.9758
7013  2020-02-24T23:33:02        0.0     0.0        0.0   38.2721  -121.9399

     country_code    population
0             CHN  1.392730e+09
1             CHN  1.392730e+09
2             CHN  1.392730e+09
3             KOR  5.163526e+07
4             CHN  1.392730e+09
...           ...           ...
7009          AUS  2.499237e+07
7010          USA  3.271674e+08
7011          USA  3.271674e+08
7012          USA  3.271674e+08
7013          USA  3.271674e+08

[7014 rows x 10 columns]